.Footer-container {
    display: flex;
    max-height: 65px;
    width: 100%;
    background-color: #3d3838;
    color: #fff;
  }
  .Footer-home {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
  }
  .Footer-home a {
    text-decoration: none;
    color: #fff;
  }
  .Footer-menu {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin-right: 100px;
  }
  .Footer-menu ul li {
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
  }
  .Footer-menu ul li a {
    text-decoration: none;
    color: #fff;
  }
  .Footer-menu ul li a:hover {
    color: #8f8f8f;
  }